@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
}

:root {
  --azulino: #4f7cac;
  --aquaMar: #91e5f6;
  --violet: #4d4ab1;
  --verdeLoro: #14c46c;
  --wine: rgb(34, 24, 100);
  --verdeHierba: #83ee9e;
  --poppins: "Poppins", sans-serif;
}
