.body {
  padding: 0;
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
  min-height: calc(100vh - 150px);
  background-color: var(--verdeOcuro);
}

@media (max-width: 769px) {
  .container {
    min-height: calc(100vh - 150px);
  }
}

.containerCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .containerCard {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}

.containerTitle {
  font-size: 56px;
  font-weight: bold;
  color: var(--grisLetra);
}

@media (min-width: 768px) {
  .containerTitle {
    text-align: center;
  }
}
