.body {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 536px;
  background-color: var(--verdeOcuro);
}

.containerTitle {
  font-size: 56px;
  font-weight: bold;
  color: var(--grisLetra);
}

@media (min-width: 768px) {
  .containerTitle {
    text-align: center;
  }
}

.containerLocationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerLocationContainerDesciption {
  font-size: 32px;
  text-align: center;
  color: var(--grisLetra);
}

.containerLocationContainerButtonContainer {
  width: 350px;
}
